baseURL                = "https://tholzschuh.github.io/test"
title                  = "Tim Holzschuh"
theme                  = "gokarna"
languageCode           = "en"
defaultContentLanguage = "en"
enableEmoji            = true
enableRobotsTXT        = true

# Choose one of emacs, trac or perldoc
pygmentsStyle          = "monokai"

[params]
  footer         = "Tim Holzschuh"
  greeting       = "Hi!"
  email          = "tholzschuh [at] mathi.uni-heidelberg.de"
  avatarURL      = "/images/tim.jpg"
  avatarLink     = "/images/debiesbosch.jpg"
  avatarSize     = "size-xl"
  accentColor    = "#0982f0"
  customHeadHTML = """
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js" integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script> 
  """
#  socialIcons = [
#    {name = "twitter", url = "https://example.com"},
#    {name = "linkedin", url = "https://example.com"},
#    {name = "stackoverflow", url = "https://example.com"},
#    {name = "dribbble", url = "https://example.com"},
#    {name = "instagram", url = "https://example.com"},
#    {name = "twitch", url = "https://example.com"},
#  ]

  metaKeywords = ["blog", "academic", "mathematics", "functional programming", "nixos", "nix", "haskelly", "hakyll"]

[menu]
  [[menu.main]]
    name   = "about"
    url    = "/"
    weight = 1
  [[menu.main]]
    name   = "maths"
    url    = "/maths/"
    weight = 2

  [[menu.main]]
    name   = "blog"
    url    = "/posts/"
    weight = 4

#  [[menu.main]]
#    name   = "projects"
#    url    = "/projects/"
#    weight = 5

  [[menu.main]]
    name   = "tags"
    url    = "/tags/"
    weight = 6

#  [[menu.main]]
#    identifier = "github"
#    pre        = "<span data-feather='github'></span>"
#    url        = "https://github.com/tholzschuh"
#    weight     = 7

#  [[menu.main]]
#    identifier = "rss"
#    pre = "<span data-feather='rss'></span>"
#    url = "/index.xml"
#    weight = 8

[markup]
  [markup.tableOfContents]
    startLevel = 1
    endLevel   = 4
    ordered    = false
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe   = true 
